<div class="card-container">
  <div  style="text-align: center; margin-top: 5px"><i class="fa fa-pie-chart" aria-hidden="true"></i>Load Summary</div>
  <hr>
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
  </canvas>
  <div style="text-align: center; margin-top: 5px">
    <button type="button" class="btn btn-info">Loads</button>
  </div>
  <div style="text-align: center; margin-top: 3px">
    <button type="button" class="btn btn-info">Response Needed</button>
  </div>
  <hr>
  <div  style="text-align: center;">
    Last Refreshed At Date {{dateFormatted}}
  </div>
</div>
