<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Pickup Dates</th>
        <th>2/2/2020</th>
        <th>3/2/2020</th>
        <th>4/2/2020</th>
        <th>5/2/2020</th>
        <th>6/2/2020</th>
        <th>7/2/2020</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td style="background-color: aquamarine">No Delivery Appointment</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr class="empty-row">
        <td class="empty-row">Carrier Status</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="background-color: aquamarine">Not Tendered</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td style="background-color: aquamarine">Tendered</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td style="background-color: aquamarine">Tender Accepted</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td style="background-color: aquamarine">Delivered</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr class="empty-row">
        <td>Pickup/Delivery Status</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="background-color: aquamarine">Pending Pickup Arrival</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td style="background-color: aquamarine">Pending Pickup Departure</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td style="background-color: aquamarine">Pending Delivery Arrival</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td style="background-color: aquamarine">Total Shipping</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
